<md-dialog aria-label="Importer des projets" style="width:900px;">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Import projects</md-subheader>

    <form ng-submit="searchProjects()" name="importForm" layout="row">
        <md-input-container flex>
          <label>Chemin du fichier</label>
          <input name="path" ng-model="importProgressPath">
        </md-input-container>
        
        <div style="padding-top:20px;">
          <md-button type="submit" class="md-raised">Search</md-button>
        </div>
    </form>
    <div layout="column">
      <div layout="row" ng-repeat="project in projects">
        <md-switch ng-model="project.activated" aria-label="{{project.name}}">
          {{project.name}}
        </md-switch>
        <md-button disabled aria-label="{{project.path}}" flex>
          {{project.path}}
        </md-button>
      </div>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="hide()" class="md-raised md-primary">
      Import
    </md-button>
  </div>
</md-dialog>