<div ng-if="tasksApi.isProcessing && type==tasksApi.type" style="text-align:center;">
    <h2 class="text-center" ng-if="tasksApi.tasks.count">
        <span ng-if="!tasksApi.tasks.seconds">Executing {{tasksApi.tasks.count}} tasks.</span>
        <span ng-if="tasksApi.tasks.seconds">Done in {{tasksApi.tasks.seconds}} seconds.</span>
    </h2>
    <h2 class="text-center" ng-if="!tasksApi.tasks.count">-</h2>
    
    <div ng-if="tasksApi.tasks.count">
    <md-progress-linear class="md-accent" md-mode="determinate" value="{{((tasksApi.tasks.done/tasksApi.tasks.count)*100).toFixed(0)}}"></md-progress-linear>

    <br><br>
    </div>
</div>
