<md-bottom-sheet class="md-list md-has-header">
  <!--<md-subheader>Comment Actions</md-subheader>-->
  <md-list>
    <md-item ng-repeat="item in items">
      <md-button aria-label="{{item.name}}" ng-click="listItemClick($index)">
        <md-inline-list-icon style="width:30px;display:inline-block;text-align:center;"><i class="fa fa-{{ item.icon }}"></i></md-inline-list-icon>
        <span class="md-inline-list-icon-label"> {{ item.name }} </span>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>