/* Toolbar area */

@import "../../common/theme/main.less";


.pull-left {
  float:left;
}
.pull-right {
  float:right;
}

md-toolbar h1 {
  margin: 15px 30px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}

.actions-toolbar {

  padding-left: 15px;
  padding-right: 15px;
}
.actions-toolbar-right {
  position: absolute;
  right: 0;
  height: 100%;
}


/* Primary content area */

#content {
  overflow: hidden;
  position: relative;

  md-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }
}
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}



.md-icon-container {
  text-align: center;
  i.fa {
    font-size: 50px;
  }
}
