<div layout="column" layout-margin layout-fill style="text-align:center;">
	
	<md-toolbar>
	<h1 style="font-size: 45px;">Bienvenue sur Bluestorm</h1>
</md-toolbar>

<div>
	<h1>Vous n'avez pas encore choisi de projet sur lequel travailler.</h1>
</div>

<div flex layout="row" style="padding-top: 30px;">
	<div flex>
		<md-toolbar style="line-height:64px;">
		Choisir un projet
	</md-toolbar>

		<md-list>
            <md-item>
                <md-item-content ng-repeat="project in projectsApi.projects">
                    <md-button class="md-primary" aria-label="Home" ng-click="projectsApi.set($index)">
                        {{project.name}}
                    </md-button>
                    <md-button class="md-primary" aria-label="Home" ng-click="projectsApi.remove($index)" style="width:50px;text-align:center;">
                        <i class="fa fa-remove"></i>
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>
	<!--
	<md-list>
	<md-item ng-repeat="project in projectsApi.projects">
	<md-item-content ng-click="projectsApi.set($index)">
	<div class="md-tile-left">
        	<!--
                <md-button href class="md-raised" ng-click="projectsApi.remove($index)">
                	<i class="fa fa-remove"></i>
                </md-button>--><!--
            </div>
            <div class="md-tile-content">
            	<h3>
            		{{project.name}}

            	</h3>

            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
-->
<h2 ng-if="projectsApi.projects.length==0">
	Vous n'avez pas encore de projets
</h2>
</div>
<div flex>
	<md-button flex class="md-raised" ng-click="projectsApi.import($event)">Importer un projet déjà existant</md-button><br><br>
	<md-button flex class="md-raised md-primary" ng-click="projectsApi.startNew()">Créer un nouveau projet</md-button>
</div>



</div>


</div>
