<div data-layout-toolbar-right>Projects</div>
<div layout="row" layout-margin layout-fill layout-padding>
  <div flex>I'm on the left, and there's an empty area around me.</div>
  <div flex>I'm on the right, and there's an empty area around me.</div>
</div>
<md-content class="md-padding">
    <h1>Créer un projet</h1>
    <form name="userForm">
        <md-input-container flex>
        <label>Company (Disabled)</label>
        <input ng-model="user.company" disabled>
    </md-input-container>
</form>
</md-content>

<div layout="row" layout-margin>
    <div class="md-whiteframe-z1" flex>
        <md-content>
            <h3>Mes projets</h3>
        </md-content>
    </div>
</div>




<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>




<div class="col-md-4">

    <md-content class="md-padding">
    <h1>Créer un projet</h1>
    <form name="userForm">
        <md-input-container flex>
        <label>Company (Disabled)</label>
        <input ng-model="user.company" disabled>
    </md-input-container>
    <div layout layout-sm="column">
        <md-input-container flex>
        <label>First Name</label>
        <input ng-model="user.firstName" placeholder="Placeholder text">
    </md-input-container>
    <md-input-container flex>
    <label>Last Name</label>
    <input ng-model="theMax">
</md-input-container>
</div>
<md-input-container flex>
<label>Address</label>
<input ng-model="user.address">
</md-input-container>
<div layout layout-sm="column">
    <md-input-container flex>
    <label>City</label>
    <input ng-model="user.city">
</md-input-container>
<md-input-container flex>
<label>State</label>
<input ng-model="user.state">
</md-input-container>
<md-input-container flex>
<label>Postal Code</label>
<input ng-model="user.postalCode">
</md-input-container>
</div>
<md-input-container flex>
<label>Biography</label>
<textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
</md-input-container>
</form>
</md-content>
</div>
